<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Test  %></title>
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <header>
        <h1>
            <%= titulo %>
            
            <div class="site-title">
                
                <div>

                </div>
              </div>
              <ul>

                <li><a href="/views/formulario.ejs">Nueva Pregunta</a></li>
              </ul>
            </div>
            
            
            
            <!-- <nav>
                <ul>
                    <li><a href="/api/tests">Preguntas</a></li>
                </ul>
            </nav> -->
        </h1>
    </header>