<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="crear una nueva pregunta">
    <form>
      <label for="pregunta">Blog quest:</label>
      <input type="text" id="pregunta" name="quest" required>
      <label for="respuesta1">Blog answer1:</label>
      <input type="text" id="respuesta1" name="answer1" required>
      <label for="respuesta2">Blog answer2:</label>
      <input type="text" id="respuesta2" name="answer2" required>
      <label for="respuesta3">Blog answer3:</label>
      <input type="text" id="respuesta3" name="answer3" required>
      <label for="respuesta4">Blog answer4:</label>
      <input type="text" id="respuesta4" name="answer4" required>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>

</body>
</html>
